# Data Cleaning Dogs Datasets

In [101]:
import pandas as pd
import numpy as np

In [102]:
df_dog_separate = pd.read_csv('separate-datasets/dog_breeds.csv')

# delete tuple where are all null value (Korean Jindo Dog, Xoloitzcuintli) - manual
columns = df_dog_separate.columns

# check NaN values
for index, row in df_dog_separate.iterrows():
    for column in columns:
        if pd.isna(row[column]):
            print(f"Index {index} has NaN values in column {column}")
            
df_dog_separate.columns

Index(['Breed', 'Adaptability', 'All Around Friendliness', 'Exercise Needs',
       'Health Grooming', 'Trainability', 'Adapts Well to Apartment Living',
       'Affectionate with Family', 'Amount Of Shedding', 'Dog Friendly',
       'Drooling Potential', 'Easy To Groom', 'Easy To Train', 'Energy Level',
       'Exercise Needs.1', 'Friendly Toward Strangers', 'General Health',
       'Good For Novice Owners', 'Incredibly Kid Friendly Dogs',
       'Intelligence', 'Intensity', 'Potential For Mouthiness',
       'Potential For Playfulness', 'Potential For Weight Gain', 'Prey Drive',
       'Sensitivity Level', 'Size', 'Tendency To Bark Or Howl',
       'Tolerates Being Alone', 'Tolerates Cold Weather',
       'Tolerates Hot Weather', 'Wanderlust Potential'],
      dtype='object')

In [103]:
df_dog_ranked = pd.read_csv('original-datasets/cani.csv')
df_dog_ranked.columns

Index(['Breed', 'type', 'score', 'popularity ranking', 'size', 'intelligence',
       'congential ailments', 'score for kids', 'size.1', '$LIFETIME COST',
       'INTELLIGENCE RANK', 'INTELLIGENCE %', 'LONGEVITY(YEARS)',
       'NUMBER OF GENETIC AILMENTS', 'GENETIC AILMENTS', 'PURCHASE PRICE',
       'FOOD COSTS PER YEAR', 'GROOMING FREQUNCY', 'SUITABILITY FOR CHILDREN'],
      dtype='object')

In [104]:
# delete duplicate column in df_dog_separate
df_dog_separate = df_dog_separate.drop(labels=["Exercise Needs.1"], axis=1)

# delete duplicate column in df_dog_ranked
df_dog_ranked = df_dog_ranked.drop(labels=["GENETIC AILMENTS"], axis=1)

In [105]:
df_dog_separate.head()

,Breed,Adaptability,All Around Friendliness,Exercise Needs,Health Grooming,Trainability,Adapts Well to Apartment Living,Affectionate with Family,Amount Of Shedding,Dog Friendly,...,Potential For Playfulness,Potential For Weight Gain,Prey Drive,Sensitivity Level,Size,Tendency To Bark Or Howl,Tolerates Being Alone,Tolerates Cold Weather,Tolerates Hot Weather,Wanderlust Potential
0,Affenpinscher,3.0,3.0,4.0,2.0,3.0,5.0,5.0,1.0,4.0,...,4.0,3.0,3.0,3.0,1.0,2.0,1.0,3.0,3.0,2.0
1,Afghan Hound,4.0,4.0,4.0,2.0,3.0,5.0,5.0,4.0,4.0,...,4.0,1.0,5.0,5.0,4.0,2.0,2.0,5.0,5.0,5.0
2,Airedale Terrier,2.0,4.0,5.0,3.0,5.0,1.0,4.0,2.0,4.0,...,5.0,4.0,5.0,3.0,3.0,4.0,2.0,3.0,3.0,4.0
3,Akita,3.0,2.0,4.0,4.0,4.0,2.0,5.0,5.0,1.0,...,5.0,4.0,4.0,5.0,4.0,5.0,1.0,5.0,2.0,4.0
4,Alaskan Klee Kai,3.0,3.0,4.0,3.0,4.0,3.0,4.0,4.0,2.0,...,4.0,2.0,5.0,4.0,2.0,3.0,2.0,5.0,2.0,4.0

In [106]:
df_dog_ranked.head()

,Breed,type,score,popularity ranking,size,intelligence,congential ailments,score for kids,size.1,$LIFETIME COST,INTELLIGENCE RANK,INTELLIGENCE %,LONGEVITY(YEARS),NUMBER OF GENETIC AILMENTS,PURCHASE PRICE,FOOD COSTS PER YEAR,GROOMING FREQUNCY,SUITABILITY FOR CHILDREN
0,Border Terrier,terrier,3.61,61,1,Above average,none,4.99,small,"$22,638",30,70%,14.00,0,$833,$324,Once a week,1
1,Cairn Terrier,terrier,3.53,48,1,Above average,"lion jaw,heart problems",4.91,small,"$21,992",35,61%,13.84,2,$435,$324,Once a week,1
2,Siberian Husky,working,3.22,16,2,Average,none,4.72,medium,"$22,049",45,45%,12.58,0,$650,$466,Once in a few weeks,1
3,Welsh Springer Spaniel,sporting,3.34,81,2,Above average,hip problems,4.71,medium,"$20,224",31,69%,12.49,1,$750,$324,Once a week,1
4,English Cocker Spaniel,sporting,3.33,51,2,Excellent,none,4.70,medium,"$18,993",18,82%,11.66,0,$800,$324,Once a week,1

In [107]:
# check df_dog_ranked["Breeds"] is subset of df_dog_separate["Breeds"]
breeds_sep = df_dog_separate["Breed"]
breeds_rank = df_dog_ranked["Breed"]

breeds_rank.isin(breeds_sep)

0     True
1     True
2     True
3     True
4     True
      ...
82    True
83    True
84    True
85    True
86    True
Name: Breed, Length: 87, dtype: bool

In [108]:
print(breeds_rank[72]) # this value is in breeds_sep but another name
df_dog_ranked.loc[72, "Breed"] = "German Shepherd Dog"

German Shepherd

In [109]:
# add columns that not exist in df_dog_separate from df_dog_ranked
# score and popularity_ranking were discarded because were based on range(1,87) = length of df_dog_ranked
# other columns were similar to df_dog_separate.columns
adding_columns = ["type", "congential ailments", "$LIFETIME COST", "LONGEVITY(YEARS)", "NUMBER OF GENETIC AILMENTS", "PURCHASE PRICE"
                  , "FOOD COSTS PER YEAR", "GROOMING FREQUNCY"]

for label in adding_columns:
    df_dog_separate[f"{label}"] = {}

# adding values
for index, row in df_dog_ranked.iterrows():
    index_df_dog_sep = np.where(df_dog_separate["Breed"] == row["Breed"])[0][0]
    for label in adding_columns:
        if pd.isna(row[f"{label}"]):
            continue
        df_dog_separate.loc[index_df_dog_sep, label] = row[label]

df_dog_separate.head()

,Breed,Adaptability,All Around Friendliness,Exercise Needs,Health Grooming,Trainability,Adapts Well to Apartment Living,Affectionate with Family,Amount Of Shedding,Dog Friendly,...,Tolerates Hot Weather,Wanderlust Potential,type,congential ailments,$LIFETIME COST,LONGEVITY(YEARS),NUMBER OF GENETIC AILMENTS,PURCHASE PRICE,FOOD COSTS PER YEAR,GROOMING FREQUNCY
0,Affenpinscher,3.0,3.0,4.0,2.0,3.0,5.0,5.0,1.0,4.0,...,3.0,2.0,toy,none,"$18,333",11.42,0,$510,$324,Once in a few weeks
1,Afghan Hound,4.0,4.0,4.0,2.0,3.0,5.0,5.0,4.0,4.0,...,5.0,5.0,hound,none,"$24,077",11.92,0,$890,$710,Daily
2,Airedale Terrier,2.0,4.0,5.0,3.0,5.0,1.0,4.0,2.0,4.0,...,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Akita,3.0,2.0,4.0,4.0,4.0,2.0,5.0,5.0,1.0,...,2.0,4.0,working,hip problems,"$20,994",10.16,1,"$1,202",$710,Once a week
4,Alaskan Klee Kai,3.0,3.0,4.0,3.0,4.0,3.0,4.0,4.0,2.0,...,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
# cleaning NUMBER OF GENETIC AILMENTS after manual update in cani.csv
# convert to int $LIFETIME COST, $PURCHASE PRICE, FOOD COSTS PER YEAR

for index, row in df_dog_separate.iterrows():
    if not pd.isna(row["congential ailments"]):
        number_gen_ailments = 0 if row["congential ailments"] == "none" else len(row["congential ailments"].split(","))
        df_dog_separate.loc[index, "NUMBER OF GENETIC AILMENTS"] = number_gen_ailments
    if not pd.isna(row["$LIFETIME COST"]):
        lifetime_cost = row["$LIFETIME COST"].split("$")[1]
        lifetime_cost = lifetime_cost.replace(",", "")
        lifetime_cost = lifetime_cost.replace(" ", "")
        df_dog_separate.loc[index, "$LIFETIME COST"] = lifetime_cost
    if not pd.isna(row["PURCHASE PRICE"]):
        purchase_price = row["PURCHASE PRICE"].split("$")[1]
        purchase_price = purchase_price.replace(",", "")
        purchase_price = purchase_price.replace(" ", "")
        df_dog_separate.loc[index, "PURCHASE PRICE"] = purchase_price
    if not pd.isna(row["FOOD COSTS PER YEAR"]):
        food_cost = row["FOOD COSTS PER YEAR"].split("$")[1]
        food_cost = food_cost.replace(" ", "")
        lifetime_cost = food_cost.replace(",", "")
        df_dog_separate.loc[index, "FOOD COSTS PER YEAR"] = food_cost

df_dog_separate.head()

,Breed,Adaptability,All Around Friendliness,Exercise Needs,Health Grooming,Trainability,Adapts Well to Apartment Living,Affectionate with Family,Amount Of Shedding,Dog Friendly,...,Tolerates Hot Weather,Wanderlust Potential,type,congential ailments,$LIFETIME COST,LONGEVITY(YEARS),NUMBER OF GENETIC AILMENTS,PURCHASE PRICE,FOOD COSTS PER YEAR,GROOMING FREQUNCY
0,Affenpinscher,3.0,3.0,4.0,2.0,3.0,5.0,5.0,1.0,4.0,...,3.0,2.0,toy,none,18333,11.42,0,510,324,Once in a few weeks
1,Afghan Hound,4.0,4.0,4.0,2.0,3.0,5.0,5.0,4.0,4.0,...,5.0,5.0,hound,none,24077,11.92,0,890,710,Daily
2,Airedale Terrier,2.0,4.0,5.0,3.0,5.0,1.0,4.0,2.0,4.0,...,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Akita,3.0,2.0,4.0,4.0,4.0,2.0,5.0,5.0,1.0,...,2.0,4.0,working,hip problems,20994,10.16,1,1202,710,Once a week
4,Alaskan Klee Kai,3.0,3.0,4.0,3.0,4.0,3.0,4.0,4.0,2.0,...,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
df_dog_separate = df_dog_separate.rename(columns={"type":"Type", "congential ailments":"Congenital Ailments", "$LIFETIME COST":"$Lifetime Cost",
                                "LONGEVITY(YEARS)":"Longevity (years)", "NUMBER OF GENETIC AILMENTS": "Number of Congenital Ailments",
                                "PURCHASE PRICE":"$Purchase Price", "FOOD COSTS PER YEAR": "$Food Costs Per Year",
                                "GROOMING FREQUNCY": "Grooming Frequency"})

df_dog_separate.head()
df_dog_separate.to_csv("cleaned_datasets/dog_breeds.csv", index=False)